#presentacion {
    height: 88vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

#img-presentacion {
    border-radius: 50%;
    padding: 40px;
}

#habilidades {
    height: 100vh;
    display: flex;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: justify;
}

#contactame {
    background-color: rgb(232, 209, 124);
    border: none;
}

.bi {
    color: rgb(232, 209, 124);
    border: none;
}

.text-justify {
    text-align: justify;
}

.feature {
    padding-inline: 24px; /* Ajusta el valor según tus necesidades */
    border-radius: 0.5rem; /* Opcional: para bordes redondeados */
}

.feature-icon {
    margin-bottom: 1rem; /* Espacio entre el ícono y el texto */
}

.proyecto {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#proyecto-1 {
    background-image: url('imágenes/algs.jpg');
    background-size: cover;
}

#proyecto-2 {
    background-image: url('imágenes/horno.jpg');
    background-size: cover;
}

#proyecto-3 {
    background-image: url('imágenes/google.jpg');
    background-size: cover;
}


.text-shadow-1 {
    text-shadow: 1px -1px 8px rgb(158, 158, 94);
}

.text-shadow-2 {
    text-shadow: 1px -1px 8px rgba(45, 17, 0, 0.679);
}

.text-shadow-3 {
    text-shadow: 1px -1px 8px rgba(113, 61, 26, 0.395);
}

.proyecto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 225, 195, 0.5); /* Color amarillo con 50% de opacidad */
    z-index: 1; /* Asegura que el pseudo-elemento esté sobre la imagen */
}

.proyecto .d-flex {
    position: relative; /* Para asegurarse de que el contenido se muestre por encima del pseudo-elemento */
    z-index: 2; /* Asegura que el contenido se muestre por encima de la capa de color */
}

#imagen-redonda {
    border-radius: 50%;
}

.text-container {
    max-width: 300px; /* Ajusta este valor al ancho de tus imágenes */
    margin: 0 auto; /* Centra el contenedor en su elemento padre */
    text-align: justify; /* Justifica el texto dentro del contenedor */
}

.text-container p {
    margin: 0;
    padding: 0;
}

.text-container h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center; /* Centra verticalmente el contenido dentro del contenedor flex */
}

.justify-content-center {
    justify-content: center; /* Centra horizontalmente el contenido dentro del contenedor flex */
}

.text-container {
    max-width: 600px; /* Ajusta el ancho del contenedor del texto según sea necesario */
    text-align: justify; /* Justifica el texto dentro del contenedor */
}

.text-container p {
    margin: 0;
    padding: 0;
}

.text-container h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.me-4 {
    margin-right: 1.5rem; /* Ajusta el margen derecho de la imagen para separar la imagen del texto */
}


.social-nav .nav-link i {
    color: #3e3d3ace; /* Or use any color that matches your design */
}

